body {
    font-family: 'Electrolize', sans-serif;
    text-align: center;
    margin: 0;
    /* background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000); */
    color: black;
    background-color: #FFFFFF;
    height: 100vh;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}


/* game box */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(18, 45, 218);
}

input {
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}

button {
    height: 28px;
}

.button-wordsLeft {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 5px;
}


/* game instruction */

.game-instruction {
    text-align: center;
    color: black;
}


/* game timer */

#game-timer {
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}


/* words  display box */

.sub-container {
    display: flex;
    width: 50%;
    max-width: 1200px;
}

.game-box {
    border: 2px solid black;
    height: 300px;
    padding-left: 5px;
    overflow: auto;
}

.game-header {
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
}

.game-feed {
    flex-direction: column;
    align-items: left;
}

.game-input {
    flex-direction: row;
    justify-content: space-evenly;
}

.game-input-name {
    width: 20%;
}

.game-input-msg {
    width: 65%;
}

.word-background {
    background: #000;
    margin: 0 2px;
    padding: 0 3px;
    border: solid 2px green;
    line-height: 1.2em;
    height: 1.2em
}

p {
    overflow-wrap: break-word;
    color: black;
}

#user-name {
    font-weight: bold;
}


/* scores */

#user-score {
    color: black;
    background-color: rgb(18, 45, 218);
    border-radius: 50%;
    padding: 5px;
}

#total-score {
    visibility: hidden;
}

.tool__erase {
    visibility: hidden;
}

.tool__draw {
    visibility: hidden;
}

.back-home {
    visibility: hidden;
}

.game-memory-timer {
    visibility: hidden;
}

.vibrate-1 {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

.wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


/* .turnsTime {
    width: 50px;
    margin: 0 auto;
} */

input,
select,
button {
    padding: 1em;
    font-size: medium;
}

.button-join {
    background-color: rgb(18, 45, 218);
    ;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-join:hover,
.button-join:focus {
    background-color: rgb(18, 45, 218);
}


/* game start button */

#start-button {
    background: green;
}

@media (max-width: 800px) {
    .sub-container {
        width: 75%;
    }
}